@model CalorieCountingApplication.ViewModels.Entry;

<body>
    <script type="text/javascript">
        function callFunction() {
            if (document.getElementById("FoodOrExercise").value == "Food") {
                addFoodForm();
            }
            else if (document.getElementById("FoodOrExercise").value == "Exercise") {
                addExerciseForm();
            }
            else {
                console.log("Function being called but not working");
            }
        };

        //There must be a cleaner way to write this function and addFoodForm
        function addExerciseForm() {
            document.getElementById("insertHere").innerHTML = "";
            let exerciseChoice = document.createElement("select");
            @foreach(Exercise exercise in Model.Exercises)
            {
                <option>@exercise.Name</option>
            };
            let exerciseChoiceBreak = document.createElement("br");
            let exerciseAmountLabel = document.createElement("label");
            exerciseAmountLabel.htmlFor = "ExerciseAmount";
            exerciseAmountLabel.innerText = "Amount of Exercise";
            let exerciseAmountInput = document.createElement("input");
            exerciseAmountInput.type = "number";
            exerciseAmountInput.id = "ExerciseAmount";
            let exerciseAmountBreak = document.createElement("br");
            let calorieCountLabel = document.createElement("label");
            calorieCountLabel.htmlFor = "ExerciseCalorieCount";
            calorieCountLabel.innerText = "Calories";
            let calorieCountInput = document.createElement("input");
            calorieCountInput.type = "number";
            calorieCountInput.id = "ExerciseCalorieCount";
            let calorieCountBreak = document.createElement("br");
            let dateTimeLabel = document.createElement("label");
            dateTimeLabel.htmlFor = "ExerciseDateTime";
            dateTimeLabel.innerText = "Choose a date and time";
            let dateTimeInput = document.createElement("input");
            dateTimeInput.type = "datetime-local";
            dateTimeInput.id = "ExerciseDateTime";
            let dateTimeBreak = document.createElement("br");
            let submitButton = document.createElement("input");
            submitButton.type = "submit";
            document.getElementById("insertHere").append(exerciseChoice, exerciseChoiceBreak, exerciseAmountLabel, exerciseAmountInput, exerciseAmountBreak, calorieCountLabel, calorieCountInput, calorieCountBreak, dateTimeLabel, dateTimeBreak, dateTimeInput, submitButton);
        };

        function addFoodForm() {
            document.getElementById("insertHere").innerHTML = "";
            let foodChoice = document.createElement("select")
            @foreach (Food food in Model.Foods)
            {
                        <option>@food.Name</option>
            }
            let foodChoiceBreak = document.createElement("br");
            let foodAmountLabel = document.createElement("label");
            foodAmountLabel.htmlFor = "FoodAmount";
            foodAmountLabel.innerText = "Amount of Food";
            let foodAmountInput = document.createElement("input");
            foodAmountInput.type = "number";
            foodAmountInput.id = "FoodAmount";
            let foodAmountBreak = document.createElement("br");
            let calorieCountLabel = document.createElement("label");
            calorieCountLabel.htmlFor = "FoodCalorieCount";
            calorieCountLabel.innerText = "Calories";
            let calorieCountInput = document.createElement("input");
            calorieCountInput.type = "number";
            calorieCountInput.id = "FoodCalorieCount";
            let calorieCountBreak = document.createElement("br");
            let dateTimeLabel = document.createElement("label");
            dateTimeLabel.htmlFor = "FoodDateTime";
            dateTimeLabel.innerText = "Choose a date and time";
            let dateTimeInput = document.createElement("input");
            dateTimeInput.type = "datetime-local";
            dateTimeInput.id = "FoodDateTime";
            let dateTimeBreak = document.createElement("br");
            let submitButton = document.createElement("input");
            submitButton.type = "submit";
            document.getElementById("insertHere").append(foodChoice, foodChoiceBreak, foodAmountLabel, foodAmountInput, foodAmountBreak, calorieCountLabel, calorieCountInput, calorieCountBreak, dateTimeLabel, dateTimeBreak, dateTimeInput, submitButton)
        };
    </script>
    <form asp-action="PostItem">
        <label for="FoodOrExercise">Please Select Food or Exercise</label>
        <br />
        <select id="FoodOrExercise" onchange="callFunction()">
            <option>Exercise</option>
            <option>Food</option>
        </select>
        <br />
        <!--Need to add Food or Exercises dropdowns with values from DB once choice is selected-->
        <div id="insertHere">
        </div>
    </form>
</body>